#meme-form {
    float:right;
}
.meme {
    padding:5px;
    margin:5px;
    border:5px;
}

.jumbotron {
    color:white;
    background-color: lightseagreen;
    text-align: center;
}

.gifs {
    margin-top:20px;
    padding:10px;

}